# Flask App Dependencies
flask
gunicorn
requests
torch
torchvision
Pillow
python-dotenv
google-genai
deep-translator

# Chatbot / LLM Dependencies
transformers
peft
langchain
langchain-community
langchain-huggingface
chromadb
sentence-transformers
datasets
trl
bitsandbytes

boto3
